[submodule "Assets/Game/Libraries/Utils"]
	path = Assets/Game/Libraries/Utils
	url = https://github.com/EstebanGameDevelopment/OneToSevenUtils.git
[submodule "Assets/Game/Libraries/Networking"]
	path = Assets/Game/Libraries/Networking
	url = https://github.com/EstebanGameDevelopment/OneToSevenNetworking.git
[submodule "Assets/Game/Libraries/VR"]
	path = Assets/Game/Libraries/VR
	url = https://github.com/EstebanGameDevelopment/OneToSevenVR.git
